* {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.left-bar,
header {
  background-color: white;
  width: 100%;
  height: 58px;
  display: inline-block;
}
.left-bar li {
  list-style: none;
  display: inline;
  position: relative;

  left: 15px;
  bottom: 10px;
  padding: 29px 18px 29px 18px;
  margin: 0px -2px 0px -2px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  line-height: 27px;
  font-weight: 500;
}
.left-bar li:hover {
  background-color: #04aa6d;
}
img {
  height: 37px;
  width: 37px;

  padding-left: 25px;
  padding-top: 15px;
}
.icons {
  margin: 0px;
  position: relative;
  top: -30px;
  left: 600px;
}
.icons li {
  list-style: none;
  display: inline;
  padding: 10px;
}
.icons li:hover {
  color: #04aa6d;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  background-color: white;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  border-radius: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/*BUTTONS*/
.first-buttons {
  width: fit-content;
  padding: 7px 13px;
  border-radius: 30px;
  font-size: 18px;
  font-weight: 600;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 27px;
  display: inline-flex;
}
.first-buttons:hover {
  background-color: #04aa6d;
}
p {
  padding-bottom: 4px;
  margin-right: 5px;
}

.new {
  font-size: 9px;
  font-weight: 900;
  line-height: 16.5px;
  padding: 2px 10px;
  border-radius: 30px;
  border: 1px solid black;
}
.buttons {
  position: absolute;
  left: 750px;
  top: 15px;
}

.Get-certified,
.website,
.login h4 {
  color: black;
  font-size: 18px;
  font-weight: 600;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 27px;
  display: inline-block;
}
.btn {
  position: absolute;
  top: 25px;
  left: 860px;
}
.btn li {
  display: inline;
  font-size: 18px;
  font-weight: 600;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 27px;
  margin-right: 10px;
}
.getcertified {
  background-color: #ffc0c7;
  border-radius: 30px;
  padding: 10px 20px 10px 20px;
}
.getcertified:hover {
  color: white;
  background-color: #04aa6d;
}
.website {
  border-radius: 30px;
  padding: 10px 15px 10px 15px;
}
.website:hover {
  background-color: #04aa6d;
  color: white;
}
.login {
  background-color: #04aa6d;
  color: white;
  border-radius: 30px;
  padding: 10px 38px 10px 38px;
}
.login:hover {
  filter: brightness(85%);
}
.frstdiv {
  /* display: flex; */
  justify-content: center;
  height: 470px;
  background-color: #282a35;
}
h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 70px;
  font-weight: 700px;
  line-height: 105px;
  color: white;
  display: flex;
  justify-content: center;
  position: relative;
  top: 95px;
}
h3 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 23px;
  font-weight: 700px;
  line-height: 34.5px;
  color: #ffc0c7;
  display: flex;
  justify-content: center;
  position: relative;
  top: 100px;
}
form {
  justify-content: center;
  display: flex;
  position: relative;
  top: 125px;
}
input {
  padding: 15px 0px 15px 20px;
  width: 420px;
  border-radius: 30px 0px 0px 30px;
  border-style: none;
}
input::placeholder {
  color: #757575;
  font-size: 17px;
  font-weight: 550;
  line-height: 25.5px;
}
*:focus {
  outline: none;
}
.search {
  padding: 10px 100px 10px 0px;
  border-radius: 0px 30px 30px 0px;
  border-style: none;
  background-color: #04aa6d;
}
.search:hover {
  filter: brightness(85%);
}
.search i {
  position: relative;
  left: 47px;
  color: white;
}

h2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 23px;
  font-weight: 700px;
  line-height: 34.5px;
  color: white;
  text-decoration: underline;
  display: flex;
  justify-content: center;
  position: relative;
  top: 150px;
}
h2:hover {
  color: #04aa6d;
}

.frst-div-component {
  padding: 0;
  height: 100px;
  width: 100%;
}
.secnddiv {
  margin: 0;
  height: 680px;
  background-color: #d9eee1;
}
